:root {
    --kermit-green: #5cb200;
    --miss-piggy-pink: #cc338b;
}

/* #main {
} */

#title {
text-align: center;
font-family: Lobster, cursive;
font-size: 70px;
}

#img-div{
}

#image{
max-width: 100%;
display: block;
height: auto;
border-color: var(--kermit-green);
border-width: 30px;
border-style: solid;
margin-left: auto;
margin-right: auto;
width: 50%;
}

#img-caption {
text-align: center;
}

/* #tribute-info {
} */

a:link {
color: var(--kermit-green);
}

a:visited {
color: var(--miss-piggy-pink);
}